.navbar-fixed-top {
    background-color: whitesmoke;
}

.body-container {
    position: relative;
    top: 50px;
}

#telephone:hover {
    background-color: whitesmoke;
}

#page-content{
    background-color: white;
    padding-top: 50px;
}